<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register()">

    <h2 class="text-center text-primary"></h2>
    <hr>

    
    <!-- <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("userName").errors
        && registerForm.get("userName").touched'
        class="form-control"
        type="text"
        formControlName="userName" 
        placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>
    </div> -->
    <div class="form-group">
        <label for="" class="control-label" style="margin-right: 10px;">I am a:</label>
        <label class="radio-inline">
            <input type="radio" value="male" formControlName="gender">Male
        </label>
        <label class="radio-inline">
            <input type="radio" value="female" formControlName="gender" class="ml-3">Female
        </label>
    </div>
    <app-text-input [formControl]='registerForm.controls["userName"]' [label]='"Username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Known As"'></app-text-input>
    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [maxDate]="maxDate" [label]='"Date Of Birth"'></app-date-input>
    <app-text-input [formControl]='registerForm.controls["city"]' [label]='"City"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["country"]' [label]='"Country"'></app-text-input>
   <!--please donot uncomment this dropdown-->
    <!-- <div class="form-group">
        <label>Who is your favourite user?</label>
        <select class="form-cntrol">
            <option *ngFor="let user of UserFromHomeComponent" [value]="user.username">
                {{user.username}}
            </option>
        </select>
    </div> -->

    <!-- <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("password").errors
        && registerForm.get("password").touched'
        class="form-control"
        type="password"
        formControlName="password"
        placeholder="Password">
        <div *ngIf='registerForm.get("password").hasError("required")'
         class="invalid-feedback">Please enter a password</div>
         <div *ngIf='registerForm.get("password").hasError("minlength")'
         class="invalid-feedback">Password must atleast 6 charcters</div>
         <div *ngIf='registerForm.get("password").hasError("maxlength")'
         class="invalid-feedback">Password must atmost 8 charcters</div>
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("confirmPassword").errors
        && registerForm.get("confirmPassword").touched'
         class="form-control"
         type="password" 
         formControlName="confirmPassword"
         placeholder="Cofirm Password">
         <div *ngIf='registerForm.get("confirmPassword").hasError("required")'
         class="invalid-feedback">Please enter a confirm password</div>
         <div *ngIf='registerForm.get("confirmPassword").hasError("isMatching")'
         class="invalid-feedback">Confirm password must match password</div>
    </div> -->

    <app-text-input [formControl]='registerForm.controls["password"]' [type]='"password"' [label]='"Password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [type]='"password"' [label]='"Confirm Password"'></app-text-input>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<p>{{registerForm.value |json}}</p>
<p>{{registerForm.status |json}}</p>