<form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register()">

    <h2 class="text-center text-primary"></h2>
    <hr>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="userName" 
        placeholder="Username">
    </div>

    <!-- <div class="form-group">
        <label>Who is your favourite user?</label>
        <select class="form-cntrol">
            <option *ngFor="let user of UserFromHomeComponent" [value]="user.username">
                {{user.username}}
            </option>
        </select>
    </div> -->

    <div class="form-group">
        <input class="form-control" type="password" formControlName="password"  placeholder="Password">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" formControlName="confirmPassword"  placeholder="Cofirm Password">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<p>{{registerForm.value |json}}</p>
<p>{{registerForm.status |json}}</p>